# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.local
.env.*.local
.env.production
service-account.json
service-account*.json
*.pem

# Build
.next
build
dist
out

# Tools
.DS_Store
.vscode
.idea
.agent/

clicker-properti/
.firebase/
